<ion-view view-title="">
  <ion-content>
    <div class="row static-header">
      <div class="col">
        <div class="app-name">BOM Water Storage - Bureau of Meteorology</div>
        <div class="page-title">About this app</div>
        <div class="app-name">Version 1.4.0</div>
      </div>
    </div>
    <div class="row static-content">
      <div class="col">
        <h5>Disclaimer</h5>
        <p>You accept all risks and responsibility for losses, damages, costs and other consequences resulting directly or indirectly from using this application and any information or material available from it.</p>
        <p>To the maximum permitted by law, the Bureau of Meteorology excludes all liability to any person arising directly or indirectly from using this application and any information or material available from it.</p>
        <h5>Always Check the Information</h5>
        <p>Information provided by this application:</p>
        <ul>
          <li>is general information provided as part of the Bureau of Meteorology's statutory role in the dissemination of information relating to meteorology, or in accordance with its role under the Water Act 2007.</li>
          <li>may be provided by third parties (including private advertisers) (through agreements with the Bureau or in fulfilling their obligations under the Water Act and/or its associated regulations)</li>
          <li>is subject to the uncertainties of scientific and technical research</li>
          <li>may not be accurate, current or complete</li>
          <li>is subject to change without notice</li>
          <li>is not a substitute for independent professional advice and users should obtain any appropriate professional advice relevant to their particular circumstances</li>
          <li>the material on this web site may include the views or recommendations of third parties, which do not necessarily reflect the views of the Bureau of Meteorology or indicate its commitment to a particular course of action.</li>
        </ul>
        <h5>Security Risks and Computer Viruses</h5>
        <p>The World Wide Web operates across insecure, public networks. You assume all risks associated with use of the application, including:</p>
        <ul>
          <li>risk of your device, software or data being damaged by any virus, disabling codes, worms or other devices and defects which might be transmitted or activated via the application, or your access to it or the downloading of files from the application</li>
          <li>connections transmitted to and from this application being intercepted and modified by third parties</li>
        </ul>
        <h5>Copyright Notice</h5>
        <h6>Your rights to use material on Bureau websites</h6>
        <p>In accordance with Australian Government policy, the Bureau of Meteorology aims to make public sector information available on an open and reusable basis where possible, including on its websites and apps (www.bom.gov.au; reg.bom.gov.au; m.bom.gov.au; ftp.bom.gov.au; BOM Water Storage)</p>
        <p>Most material on the Bureau websites will be protected by copyright held by the Bureau or a supplier of information to the Bureau. Your right to use this material may be permitted under:</p>
        <h6>An Open Access License</h6>
        <p>A Creative Commons (CC) Attribution 3.0 licence. The terms and conditions of the relevant CC licences are at http://creativecommons.org/licenses/by/3.0/au/. Where this applies, the material will be marked with a CC logo such as:</p>
        <img src="img/cc.jpeg" />
        <p>A Public Access Licence (PAL). The terms and conditions of the relevant PAL licences are at http://www.ags.gov.au/pal/. Where this applies, the material will be marked with a PAL logo such as:</p>
        <img src="img/pal.jpeg" />
        <h6>The Bureau's default terms of use</h6>
        <p>Where no terms of use are associated with a set of material, then you may download, use and copy that material for personal use, or use within your organisation but you may not supply that material to any other person or use it for any commercial purpose. Any use under these default terms must comply with the following:</p>
        <ul>
          <li>the Bureau must be identified as the source of the material and a prominent link included to the Bureau web page from which the material was sourced</li>
          <li>any copyright statement or logo included on, or in connection with, a set of material must be retained</li>
          <li>all text or graphical re-presentation of forecasts must include the issue time and date and the validity of the period and must precisely reproduce any warnings associated with the material</li>
        </ul>
        <p>Where an Open Access Licence does not apply, or you wish to use the material outside of the Bureau's default terms of use, you must apply for a Bureau Access Agreement.</p>
        <p>Please note that there may be different or additional conditions associated with some of the available material. Be sure to check the licensing information for each set of material you wish to use which may require you to contact the original copyright owner for permission to use the material. Use of images (including satellite images) and the Commonwealth Coat of Arms are subject to the terms set out below. You may use also use any material in accordance with rights you have under the Copyright Act 1968 (for example under the fair dealing provisions or statutory licences).</p>
        <h6>Use of images</h6>
        <p>Unless otherwise stated, all images (including background images, icons and illustrations) on Bureau websites are copyright of their owners and you must obtain the permission of those owners to use such images.</p>
        <p>The satellite images available via the Bureau websites are obtained from non-Bureau sources. Please see Acknowledgements below for the attributions that you must apply when using satellite images.</p>
        <h6>Use of the Commonwealth Coat of Arms</h6>
        <p>The terms under which the Commonwealth Coat of Arms can be used are detailed on the It's an Honour website.</p>
        <h6>No circumvention of terms</h6>
        <p>You are entitled to use material on Bureau websites in accordance with the applicable terms above, noting that material such as Water Data is generally available under generous open access terms including a right to distribute and modify material. The use of any material on the Bureau websites obtained through use of automated or manual techniques including any form of scraping or hacking intended to allow use of the material without complying with the applicable terms is prohibited.</p>
        <p class="italic">'scraping' includes page, content, screen or web scraping amongst others, and is the process of extracting information from websites usually by converting unstructured website content (usually HTML) into structured data.</p>
        <p>Use of material in a way not permitted on the websites, or otherwise in accordance with the Copyright Act 1968 may be an infringement of copyright. Infringing copyright may expose you to legal action by, and liability to, the copyright owner.</p>
        <p>Where you wish to use material in a way that is beyond the scope of the terms of use that apply to it, you must first obtain the agreement of the Bureau's copyright officer webreg@bom.gov.au.</p>
        <h5>Acknowledgements</h5>
        <p>The satellite images available via the Bureau web site are obtained from non-Bureau sources. The satellite images may be from geostationary satellites such as: the GMS series; GOES-9; the MTSAT series; Himawari-8; and the Feng Yun Series or from the polar orbiting satellites such as the NOAA series and Feng Yun series. Such images are provided with the permission of the Japan Meteorological Agency (JMA), the China Meteorological Administration (CMA) or the United States National Oceanic & Atmospheric Administration (NOAA).</p>
        <p>Any use of these images requires the following acknowledgement(s):</p>
        <h6>Geostationary satellite data</h6>
        <ul>
          <li>If the image was from GMS-1, GMS-2, GMS-3, GMS-4 or GMS-5 (old imagery), then the acknowledgement is (with the appropriate number replacing the "(n)"): Satellite image originally processed by the Bureau of Meteorology from the geostationary satellite GMS-(n) operated by the Japan Meteorological Agency.</li>
          <li>If the imagery is from GOES-9, then the acknowledgement is: Satellite image originally processed by the Bureau of Meteorology from the geostationary GOES-9 operated by the National Oceanographic & Atmospheric Administration (NOAA) on behalf of the Japan Meteorological Agency.</li>
          <li>If the imagery is from the MTSAT series, then the acknowledgement is (with the appropriate number replacing the "(n)"): Satellite image originally processed by the Bureau of Meteorology from the geostationary satellite MTSAT-(n) operated by the Japan Meteorological Agency.</li>
          <li>If the imagery is from the geostationary Feng Yun series, then the acknowledgement is (with the appropriate number replacing the "(n)"): Satellite image originally processed by the Bureau of Meteorology from the geostationary satellite Feng Yun (n) operated by the China Meteorological Administration (CMA).</li>
          <li>If the imagery is from the Himawari-8 satellite, then the acknowledgement is: Satellite image originally processed by the Bureau of Meteorology from the geostationary satellite Himawari-8 operated by the Japan Meteorological Agency.</li>
        </ul>
        <h6>Polar Orbiting satellite data</h6>
        <ul>
          <li>If the imagery is from the NOAA series, then the acknowledgement is (with the appropriate number replacing the "(n)"): Satellite image originally processed by the Bureau of Meteorology from the polar orbiting satellite NOAA-(n)operated by the National Oceanographic & Atmospheric Administration (NOAA).</li>
          <li>If the imagery is from the Polar Orbiting Feng Yun series, then the acknowledgement is (with the appropriate number replacing the "(n)"): Satellite image originally processed by the Bureau of Meteorology from the polar orbiting satellite Feng Yun (n)operated by the China Meteorological Administration (CMA).</li>
        </ul>
        <h5>Accessibility</h5>
        <p>The Government's access and equity policies aim to ensure that government services meet the needs of all Australians irrespective of their needs. They also aim to help Australians of all backgrounds to have the opportunity to achieve their potential and participate fully in society - regardless of any special need or disability. This means making government services culturally appropriate, accessible, consumer-oriented and effective.</p>
        <p>The Bureau's aim is to meet level "A" to the best of our ability and incorporate levels "Double A" and "Triple A" and to continue to work on developing and further improving accessibility to our site.</p>
        <p>If, because of a disability, you are having difficulty accessing any online materials produced by the Bureau, please contact our Accessibility Officer and provide the following information:</p>
        <ul>
          <li>your contact details</li>
          <li>the location of the page you are accessing</li>
          <li>the operating system and browser version you are using</li>
          <li>any other software you are using</li>
          <li>the nature of the problem you are experiencing</li>
        </ul>
        <p>The Bureau's disability service will then make arrangements to provide you with the information you are seeking in an accessible manner.</p>
        <p>
          Accessibility Officer (EEO)<br />
          Bureau of Meteorology<br />
          GPO Box 1289<br />
          Melbourne Vic 3001<br />
          Australia<br />
          <br />
          Tel: 03 9669 4000<br />
          <br />
          Email: accessibility@bom.gov.au
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
