<ion-view view-title="Features">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Feature</div>
      <div class="item item-text-wrap">
        <p>
          See current water levels by percentage or volume in megalitres (ML). Compare current levels to the previous calendar year. Tap to see the change from the previous day, week, month or year. Turn the device on its side for a full-screen graph, showing this year and last year. Touch to see values for any day of the year. Pull to refresh.
        </p>
      </div>
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-star-outline"></i>
        <p>Add places of interest to your favourites list. Tap any place for the full details.</p>
      </div>

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-analytics-outline"></i>
        <p>From a nation-wide summary, select information on states and territories, cities and supply systems and individual water storages.</p>
      </div>

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-search"></i>
        <p>Find any place by typing the first few letters of its name.
      </div>

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-information-outline"></i>
        <p>General information about the application, including current version number and a link to this page.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
