<ion-view view-title="Disclaimer">
  <ion-content>
    <div class="list card">
        <div class="item logo-bg">
        <img ng-src="img/logo-inline-white.svg" class="center" alt="">
      </div>
      <div class="item item-divider">Disclaimer</div>
      <div class="item item-body">
        <p>You accept all risks and reponsibility for losses, damages, costs and other consequences resulting directly or indirectly from using this site and any information or material available from it.</p>
        <p>To the maximum permitted by law, the Bureau of Meteorology excludes all liability to any person arising directly or indirectly from using this site and any information or material available from it.</p>

        <h3>Always Check the Information</h3>
        <p>Information at this site:</p>
        <p>is general information provided as part of the Bureau of Meteorology's statutory role in the dissemination of information relating to meteorology, or in accordance with its role under the Water Act 2007.</p>
        <p>may be provided by third parties (through agreements with the Bureau or in fulfilling their obligations under the Water Act and/or its associated regulations)</p>
        <p>is subject to the uncertainties of scientific and technical research</p>
        <p>may not be accurate, current or complete</p>
        <p>is subject to change without notice</p>
        <p>is not a substitute for independent professional advice and users should obtain any appropriate professional advice relevant to their particular circumstances</p>
        <p>the material on this web site may include the views or recommendations of third parties, which do not necessarily reflect the views of the Bureau of Meteorology or indicate its commitment to a particular course of action.</p>

        <h3>Security Risks and Computer Viruses</h3>
        <p>The World Wide Web operates across insecure, public networks. You assume all risks associated with use of the web site, including:</p>
        <p>risk of your computer, software or data being damaged by any virus, disabling codes, worms or other devices and defects which might be transmitted or activated via the website, or your access to it or the downloading of files from the web site</p>
        <p>connections transmitted to and from this site being intercepted and modified by third parties</p>

        <h3>Links to External Web Sites</h3>
        <p>The Bureau of Meteorology has no direct control over the content of any linked sites, or the changes that may occur to the content on those sites. It is the responsibility of the user to make their own decisions about the accuracy, currency, reliability and correctness of information contained in linked external web sites.</p>
        <p>Links to external web sites do not constitute an endorsement or a recommendation of any material on those sites or of any third party products or services offered by, from or through those sites. Users of links provided by this web site are responsible for being aware of which organisation is hosting the web site they visit.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
