<ion-view view-title="">
  <ion-content>
    <div class="row static-header">
      <div class="col">
        <div class="app-name">BOM Water Storage - Bureau of Meteorology</div>
        <div class="page-title">Frequently Asked Questions</div>
      </div>
    </div>
    <div class="row static-content">
      <div class="col">
        <h6>How can I search for a storage I am interested in?</h6>
        <p>A storage can be located in three ways:</p>
        <ul class="number-list">
          <li>Click on search bar and enter the name of the storage of interest. Click on link when it is identified.</li>
          <li>Click on menu icon and select state or city from the list. Choose your relevant state or city to find your water storage.</li>
          <li>Click on the States, City or Drainage division bar below the home page graph. Choose the relevant option for your storage. It will take you to the State, City or Drainage Division page and give you an option of cities and systems or water storages. Choose the relevant option for your storage to see a list of storages for that region.</li>
        </ul>
        <h6>What do the red and green arrows mean?</h6>
        <p>A red arrow indicates the storage volumes have decreased, whereas a green arrow indicates an increase. Clicking on the details button shows the details of the trend in water availability since yesterday, 7 days ago, 30 days ago and 1 year ago.</p>
        <h6>I have used the search function and still can’t find the particular storage I am looking for?</h6>
        <p>This app includes publicly-owned water storages that can hold at least 1000 ML of water. The app currently includes storages which are associated to capital cities and key supply systems as well as to States and drainage divisions. If you can't see the storage you are looking for, try clicking on the menu icon or search bar and typing the name of the storage or place in the box, it will come up in a list of relevant storages.</p>
        <h6>Why are the Bureau's water storage levels or volume different to other published sources?</h6>
        <p>The Bureau receives data from water authorities and agencies around the country. Some of these organisations also publish the data on their own websites.</p>
        <p>In order to provide a consistent set of data, the Bureau has to standardise the data received. Consequently, even though we rely on the same base information, the water levels, volumes and percentages that we publish may differ from the values published elsewhere. Please see the Bureau of Meteorology’s water storage website for more information on the differences.</p>
        <p>If you note a difference or would like more information on how we calculate the values we publish please let us know via feedback.</p>
        <h6>How often is information updated?</h6>
        <p>The Bureau receives data at many frequencies (by the minute, hour, day, and week). We update the page as soon as new data has been received, checked and processed.</p>
        <h6>How are the percentages calculated?</h6>
        <p>To calculate the current percentage full we take the current volume for a storage or place and divide it by the current accessible capacity.</p>
        <p>The per cent change is the change in volume as a percentage and is equal to the difference between the current and previous year volume, divided by the current accessible capacity. This is the same as the per cent change seen on the graph.</p>
        <h6>Litres, megalitres and gigalitres?</h6>
        <p>Water storage capacity is usually measured in megalitres (ML) or gigalitres (GL). One megalitre (ML) is equivalent to 1,000,000 litres. It would fit in a container 10m high, 10m long and 10m wide and it weighs 1000 metric tonnes. A standard Olympic-sized swimming pool measuring 50m long and 25m wide, contains 2.5 ML or 2.5 million litres of water. One gigalitre (GL) equals 1,000,000,000 litres or 1,000 ML. Lake Gordon’s capacity is approximately equal to 4,459,000 Olympic swimming pools or 22 Sydney Harbours.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
