<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="onMenuClick()">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search" ng-click="goSearch()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list class="menu-branding">
        <ion-item>
          <h2>BOM Water Storages</h2>
          <h4 class="menu-title">Bureau of Meteorology</h4>
        </ion-item>
      </ion-list>

      <water-storage-menu-favourites data="data" favourites="favourites"></water-storage-menu-favourites>
      <water-storage-menu-recent data="data" visits="visits"></water-storage-menu-recent>

      <ion-list class="menu-items">
        <ion-item class="item item-icon-left item-icon-right" menu-close ng-click="goScroll('states')">
          <i class="icon ion-bookmark"></i>
          States
          <i class="icon ion-chevron-right icon-accessory link-icon"></i>
        </ion-item>
        <ion-item class="item item-icon-left item-icon-right" menu-close ng-click="goScroll('cities')">
          <i class="icon ion-bookmark"></i>
          Capital Cities
          <i class="icon ion-chevron-right icon-accessory link-icon"></i>
        </ion-item>
        <ion-item menu-close class="item item-icon-left" ng-click="goAbout()">
          <i class="icon ion-ios-help"></i>
          FAQs
        </ion-item>
        <ion-item menu-close class="item item-icon-left" ng-click="goAbout()">
          <i class="icon ion-ios-information"></i>
          About
        </ion-item>
        <ion-item menu-close class="item item-icon-left" ng-click="goPrivacy()">
          <i class="icon ion-document-text"></i>
          Privacy
        </ion-item>
        <ion-item menu-close class="item item-icon-left" ng-click="goFeedback()">
          <i class="icon ion-chatbox-working"></i>
          Feedback
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
