<ion-view view-title="">
  <ion-content>
    <div class="row static-header">
      <div class="col">
        <div class="app-name">BOM Water Storage - Bureau of Meteorology</div>
        <div class="page-title">Privacy</div>
      </div>
    </div>
    <div class="row static-content">
      <div class="col">
        <h5>Privacy Statement</h5>
        <p>
          This page explains the type of information that is collected by the Bureau of Meteorology, how such information is used and under what circumstances and to whom it may be disclosed.
        </p>
        <p>
          If you have any privacy concerns, you should direct them to the Bureau's Privacy Officer by e-mailing privacy@bom.gov.au or by writing to:
        </p>
        <p>
          Privacy Officer<br />
          Bureau of Meteorology<br />
          GPO Box 1289<br />
          Melbourne Vic 3001<br />
          Australia<br />
        </p>
        <p class="italic">
            "Personal information collected by the Bureau of Meteorology is used in accordance with its obligations under the "Privacy Act 1988" and the Australian Privacy Principles (APPs). Personal information is information relating to an individual whose identity is apparent, or can reasonably be ascertained, from the information or opinion provided."
        </p>
        <p>
          The Internet is an insecure medium and users should be aware that there are inherent risks transmitting information across the Internet. Information submitted unencrypted via e-mail or web forms may be at risk of being intercepted, read or modified.
        </p>
        <p>
          For those who do not wish to use the Internet we provide alternative ways of obtaining and providing the information. If you prefer, you can contact us by phone or mail.
        </p>
        <h6>Use of application data</h6>
        <p>
          This application is mainly operated by the Bureau of Meteorology, however there are some products that are provided by an external internet service provider. Users of the products provided via external providers should be aware of the 'links to other sites' information at the end of this statement.
        </p>
        <p>
          When using the Bureau’s application, a record of your visit is logged.
        </p>
        <p>
          The following information is recorded for statistical purposes and is used by the Bureau of Meteorology to help improve the application. The following information is provided to the Bureau through the application:
        </p>
        <ul>
          <li>Time when you use the application</li>
          <li>Duration for which you use the application</li>
          <li>Your device type (e.g. Smartphone, Tablet)</li>
          <li>Your device’s operating system (e.g. Android, iOS, Windows )</li>
          <li>You device’s model (e.g. iPhone 5, Nexus 5)</li>
          <li>Your location at City, State and Country Level</li>
          <li>Your interaction within difference screens of the application</li>
          <li>Your interaction with individual visual elements (Buttons, Radio Buttons) of a screen</li>
        </ul>
        <p>
          The use and disclosure of information about your location which may be recorded at the time you access the app is set out below.
        </p>
        <p>
          No attempt will be made to identify users or their browsing activities, unless disclosure is required by law or due to a mandatory requirement of a Court, Government Agency or Regulatory Authority in the course of a legally enforced investigation.
        </p>
        <h6>Access to Personal Information collected by us</h6>
        <p>
          We will, at your request, provide you with access to any information which we have collected about you through this app in accordance with Information Privacy Principle 6, Privacy Act 1988. To gain access to this information you should contact us, as per the above contact details. If you believe any information is inaccurate, incomplete or out of date, please contact us and we will revise the relevant information in accordance with Information Privacy Principle 7, Privacy Act 1988.
        </p>
        <p>
          When you e-mail us:
        </p>
        <ul>
          <li>we will record your e-mail address</li>
          <li>we will only use your e-mail address for the purpose for which you provided it</li>
          <li>it will not be added to a mailing list unless you request this be done</li>
          <li>we will not disclose it without your consent, except where the Bureau of Meteorology may be required by law to disclose certain information</li>
        </ul>
        <p>When you use our Subscription and Feedback forms:</p>
        <ul>
          <li>we will record the personal information provided by you (for example your name, address, telephone number etc)</li>
          <li>we will only use this information for the purpose for which you provided it</li>
          <li>only Bureau authorised staff will have access to this</li>
          <li>we will not disclose it without your consent, except where the Bureau of Meteorology may be required by law to disclose certain information</li>
        </ul>
        <h6>Location services</h6>
        <p>If you allow ‘location services’ to be used for this application, you consent to your location information being provided to third party advertisers who may use your location information to target advertising to that location.</p>
        <h6>Google Analytics</h6>
        <p>In addition to web server logs, this application uses Google Analytics SDK, an analytics service provided by Google Inc. ("Google"). Reports obtained from Google Analytics are used to help improve the efficiency and usability of this application.</p>
        <p>Google Analytics SDK keeps track of the following.</p>
        <ul>
          <li>Time when you use the application</li>
          <li>Duration for which you use the application</li>
          <li>Your device type (e.g. Smartphone, Tablet)</li>
          <li>Your device’s operating system (e.g. Android, iOS, Windows )</li>
          <li>You device’s model (e.g. iPhone 5, Nexus 5)</li>
          <li>Your location at City, State and Country Level</li>
          <li>Your interaction within difference screens of the application</li>
          <li>Your interaction with individual visual elements (Buttons, Radio Buttons) of a screen</li>
        </ul>
        <p>Google will use this information for the purpose of evaluating your use of our application, compiling reports on your activity within the application.. Google may transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google.</p>
        <p>By using this application, you consent to the processing of data about you by Google in the manner and for the purposes set out above. Please refer to Google's Privacy policy http://www.google.com/privacy.html

 </p>
      </div>
    </div>
  </ion-content>
</ion-view>
