<ion-view view-title="{{storageDetail.storage}}">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2 class="calm">{{storageDetail.today}}</h2>
        <h1>{{storageDetail.percentage_full_today}}%</h1>
        <h4 class="calm">AVAILABLE:</h2>
        <h2>{{storageDetail.today_capacity_active_total}} ML</h2>
        <h4 class="calm" style="float: right">{{storageDetail.today_volume_active_total}} ML</h4>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <h5 class="calm">SINCE:</h5>
            <h5>PREVIOUS DAY</h5>
            <h3>{{storageDetail.percentage_change_since_yesterday}}%</h3>
            <h4>{{storageDetail.volume_change_since_yesterday}} ML</h4>
          </div>
          <div class="col">
            <h5 class="calm">SINCE:</h5>
            <h5>LAST WEEK</h5>
            <h3>{{storageDetail.percentage_change_since_last_week}}%</h3>
            <h4>{{storageDetail.volume_change_since_last_week}} ML</h4>
          </div>
          <div class="col">
            <h5 class="calm">SINCE:</h5>
            <h5>LAST MONTH</h5>
            <h3>{{storageDetail.percentage_change_since_last_month}}%</h3>
            <h4>{{storageDetail.volume_change_since_last_month}} ML</h4>
          </div>
          <div class="col">
            <h5 class="calm">SINCE:</h5>
            <h5>LAST YEAR</h5>
            <h3>{{storageDetail.percentage_change_since_last_year}}%</h3>
            <h4>{{storageDetail.volume_change_since_last_year}} ML</h4>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
