<ion-view view-title="About">
  <ion-content>

    <div class="list card">
      <div class="item logo-bg">
        <img ng-src="img/logo-inline-white.png" class="center" alt="">
      </div>
      <div class="item item-body">
        <p>Find how much water is available in Australia, your state, capital city and for individual storages.</p>
        <p>This application reports storage information for more than 250 publicly-owned storages around Australia.</p>
        <p>Visit the <a href="http://www.bom.gov.au" target="blank">Bureau's website</a> for more information about this Water Storage product.</p>
        <p>Email <a href="mailto:waterinfo@bom.gov.au">waterinfo@bom.gov.au</a> to provide feedback.</p>
      </div>
      <p>
        <div class="button-bar">
          <a class="button button-small button-clear" href="#/tab/features">Features</a>
          <a class="button button-small button-clear" href="#/tab/copyright">Copyright</a>
          <a class="button button-small button-clear" href="#/tab/disclaimer">Disclaimer</a>
        </div>
      </p>
    </div>

  </ion-content>

</ion-view>
