<ion-view view-title="{{viewTitle}}">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card">
      <div class="item nopadding">
        <div class="row row-center">
          <div class="col col-67">
            <h2 class="positive">{{summary.today}}</h2>
            <h1>{{summary.percentage_full_today}}%</h1>
            <h4 class="positive">AVAILABLE:</h2>
            <h2>{{summary.today_capacity_active_total}} ML</h2>

          </div>
          <div class="col col-33">
            <h5 class="positive">SINCE:</h5>
            <h5>LAST YEAR</h5>
            <h3 class="{{getColorClass(summary.percentage_change_since_last_year)}}">{{summary.percentage_change_since_last_year}}%</h3>
            <h5>{{summary.volume_change_since_last_year}} ML</h5>
          </div>
        </div>
        <div class="row"><div class="col"><h4 class="positive" style="float: right">{{summary.today_volume_active_total}} ML</h4></div></div>
      </div>
      <div class="item nopadding">
        <div class="row">
          <div class="col">
            <h6 class="positive">SINCE:</h6>
            <h6>PREVIOUS DAY</h6>
            <h3 class="{{getColorClass(summary.percentage_change_since_yesterday)}}">{{summary.percentage_change_since_yesterday}}%</h3>
            <h6>{{summary.volume_change_since_yesterday}} ML</h6>
          </div>
          <div class="col">
            <h6 class="positive">SINCE:</h6>
            <h6>LAST WEEK</h6>
            <h3 class="{{getColorClass(summary.percentage_change_since_last_week)}}">{{summary.percentage_change_since_last_week}}%</h3>
            <h6>{{summary.volume_change_since_last_week}} ML</h6>
          </div>
          <div class="col">
            <h6 class="positive">SINCE:</h6>
            <h6>LAST MONTH</h6>
            <h3 class="{{getColorClass(summary.percentage_change_since_last_month)}}">{{summary.percentage_change_since_last_month}}%</h3>
            <h6>{{summary.volume_change_since_last_month}} ML</h6>
          </div>
        </div>
      </div>
      <div class="item nopadding">
        <ion-highcharts group-type="grouptype" group-value="groupvalue"></ion-highcharts>
      </div>
    </div>
    <ion-list>
      <div class="item item-divider" ng-show="showCityAndSystem">CITIES AND SYSTEMS</div>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in cityandsystem" type="item-text-wrap" href="#/tab/storages/{{type}}/cityandsystem/{{typeIndex}}/{{$index}}">
        <h4>
          {{item.title}}<span style="float:right">{{item.percentage_full_today}}%</span>
        </h4>
        <h6 class="positive">
          CAPACITY: {{item.today_capacity_active_total}} ML<span style="float:right">{{item.today_volume_active_total}} ML</span>
        </h6>
        <ion-percentage-bar percentage="item.percentage_full_today"></ion-percentage-bar>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="addFavourite('{{type}}', {{typeIndex}}, 'cityandsystem', {{$index}}, null)">
          <i class="icon ion-{{platform}}-star"></i>
        </ion-option-button>
      </ion-item>
      <div class="item item-divider">WATER STORAGES</div>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in storages" type="item-text-wrap" href="#/tab/storage/{{type}}/{{subType}}/{{typeIndex}}/{{subTypeIndex}}/{{$index}}">
        <h4>
          {{item.title}}<span style="float:right">{{item.percentage_full_today}}%</span>
        </h4>
        <h6 class="positive">
          CAPACITY: {{item.today_capacity_active_total}} ML<span style="float:right">{{item.today_volume_active_total}} ML</span>
        </h6>
        <ion-percentage-bar percentage="item.percentage_full_today"></ion-percentage-bar>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="addFavourite('{{type}}', {{typeIndex}}, '{{subType}}', {{subTypeIndex}}, {{$index}})">
          <i class="icon ion-{{platform}}-star"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
