<ion-view view-title="">
  <ion-content>
    <div class="list list-inset search">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-change="onKeywordChange()" ng-model="keyword.value">
      </label>
    </div>
    <ion-list>
      <ion-item class="item-icon-right item-bg search-item-list" collection-repeat="item in list" type="item-text-wrap" href="{{item.href}}">
        <h4>
          {{item.name}}<span style="float:right" class="dark">{{item.type}}</span>
        </h4>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
