<ion-view view-title="Australia">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/figures/{{chat.id}}">
        <h4>
          {{chat.name}}<span style="float:right">55%</span>
        </h4>
        <h6 class="positive">
          {{chat.lastText}}<span style="float:right">98.73 ML</span>
        </h6>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-energized" ng-click="favourite(chat)">
          <i class="icon ion-{{platform}}-star"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
