<ion-view view-title="{{viewTitle}}">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card">
      <div class="item nopadding summary-past item-bg">
        <div class="row">
          <div class="col">
            <h2>{{summary.today}}</h2>
          </div>
        </div>
      </div>
      <div class="item nopadding summary-past item-bg">

        <div class="row row-center">
          <div class="col col-67">
            <h6>TOTAL STORAGE CAPACITY (% FULL):</h6>
            <h1 class="assertive highlight-figure" style="margin-top:8px">{{summary.percentage_full_today}}%</h1>
          </div>
          <div class="col col-33">
            <h5>SINCE</h5>
            <h5>1 YEAR AGO</h5>
            <h3 class="assertive highlight-figure">{{summary.percentage_change_since_last_year}}%</h3>
            <h5><span class="highlight-figure">{{summary.volume_change_since_last_year}}</span> ML</h5>
          </div>
        </div>

      </div>
      <div class="item nopadding summary-past item-bg">
        <div class="row row-center">
          <div class="col">
            <h6>LATEST VOLUME (LV):</h6>
          </div>
          <div class="col">
            <h6><span class="highlight-figure">{{summary.today_volume_active_total}}</span> ML</h6>
          </div>
        </div>
      </div>
      <div class="item nopadding summary-past item-bg">
        <div class="row row-center">
          <div class="col">
            <h6>TOTAL CAPACITY (TC):</h6>
          </div>
          <div class="col">
            <h6><span class="highlight-figure">{{summary.today_capacity_active_total}}</span> ML</h6>
          </div>
        </div>
      </div>
      <div class="item nopadding summary-past item-bg">
        <ion-highcharts></ion-highcharts>
      </div>
      <div class="item nopadding summary-past item-bg">
        <div class="row">
          <div class="col">
            <h6>SINCE</h6>
            <h6>1 DAY AGO</h6>
            <h3 class="assertive highlight-figure">{{summary.percentage_change_since_yesterday}}%</h3>
            <h6><span class="highlight-figure">{{summary.volume_change_since_yesterday}}</span> ML</h6>
          </div>
          <div class="col">
            <h6>SINCE</h6>
            <h6>7 DAYS AGO</h6>
            <h3 class="assertive highlight-figure">{{summary.percentage_change_since_last_week}}%</h3>
            <h6><span class="highlight-figure">{{summary.volume_change_since_last_week}}</span> ML</h6>
          </div>
          <div class="col">
            <h6>SINCE</h6>
            <h6>30 DAYS AGO</h6>
            <h3 class="assertive highlight-figure">{{summary.percentage_change_since_last_month}}%</h3>
            <h6><span class="highlight-figure">{{summary.volume_change_since_last_month}}</span> ML</h6>
          </div>
        </div>
      </div>

    </div>
    <ion-list>
      <div class="item item-divider" ng-show="showCityAndSystem">CITIES AND SYSTEMS</div>
      <ion-item ion-percentage-bar="{{item.percentage_full_today}}" ng-if="viewisentered" class="item-remove-animate item-icon-right item-bg" ng-repeat="item in cityandsystem" type="item-text-wrap" href="#/tab/storages/{{type}}/cityandsystem/{{typeIndex}}/{{$index}}">
        <h4>
          {{item.title}}<span style="float:right" class="assertive highlight-figure">{{item.percentage_full_today}}%</span>
        </h4>
        <h6>
          TC: <span class="highlight-figure">{{item.today_capacity_active_total}}</span> ML<span style="float:right">LV: <span class="highlight-figure">{{item.today_volume_active_total}}</span> ML</span>
        </h6>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button ng-click="addFavourite('{{type}}', {{typeIndex}}, 'cityandsystem', {{$index}}, null)">
          <i class="icon ion-{{platform}}-star"></i>
        </ion-option-button>
      </ion-item>
      <div class="item item-divider">WATER STORAGES</div>
      <ion-item ion-percentage-bar="{{item.percentage_full_today}}" ng-if="viewisentered" class="item-remove-animate item-icon-right item-bg" ng-repeat="item in storages" type="item-text-wrap" href="#/tab/storage/{{type}}/{{subType}}/{{typeIndex}}/{{subTypeIndex}}/{{$index}}">
        <h4>
          {{item.title}}<span style="float:right" class="assertive highlight-figure">{{item.percentage_full_today}}%</span>
        </h4>
        <h6>
          TC: <span class="highlight-figure">{{item.today_capacity_active_total}}</span> ML<span style="float:right">LV: <span class="highlight-figure">{{item.today_volume_active_total}}</span> ML</span>
        </h6>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button ng-click="addFavourite('{{type}}', {{typeIndex}}, '{{subType}}', {{subTypeIndex}}, {{$index}})">
          <i class="icon ion-{{platform}}-star"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
