<ion-view view-title="AUSTRALIA">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <water-storage-summary></water-storage-summary>
    <ion-list>

      <water-storage-list
        listtitle="STATES"
        listdata="data.states"
        listtype="states"
        listsubtype="storages"
        listtypeindex=""
        listsubtypeindex="-1"
        liststorageindex="-1">
      </water-storage-list>

      <water-storage-list
        listtitle="CAPITAL CITIES"
        listdata="data.cities"
        listtype="cities"
        listsubtype="storages"
        listtypeindex=""
        listsubtypeindex="-1"
        liststorageindex="-1">
      </water-storage-list>

      <water-storage-list
        listtitle="DRAINAGE DIVISIONS"
        listdata="data.drainages"
        listtype="drainages"
        listsubtype="storages"
        listtypeindex=""
        listsubtypeindex="-1"
        liststorageindex="-1">
      </water-storage-list>

    </ion-list>
  </ion-content>
</ion-view>
