<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-icon-left tabs-color-positive">

  <ion-tab title="Favourites" icon-off="ion-ios-star-outline" icon-on="ion-ios-star-outline" href="#/tab/favourites"  disabled="error">
    <ion-nav-view name="tab-favourites"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Australia" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics-outline" href="#/tab/figures"  disabled="error">
    <ion-nav-view name="tab-figures"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search"  disabled="error">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information-outline" href="#/tab/about" disabled="error">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
