<i class="icon ion-android-close popup-close" ng-click="closePopup()"></i>
<div class="detail-header-top">
  <div class="detail-title">{{viewTitle}}</div>
  <div class="detail-percentage">{{summary.percentage_full_today}}% <span>FULL</span></div>
</div>
<hr class="detail-divider"></hr>
<div class="detail-header-bottom">
  <div class="detail-lv">LATEST {{summary.today_volume_active_total}} ML</div>
  <div class="detail-tc">CAPACITY {{summary.today_capacity_active_total}} ML</div>
</div>
<ul class="list">
  <li class="item item-icon-left">
    <i class="icon" ng-class="isFigureIncreased(summary.volume_change_since_last_year) ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i>
    <div class="detail-list-label">Since 1 year ago</div>
    <div class="detail-list-figure">{{summary.percentage_change_since_last_year}}%&nbsp;&nbsp;&nbsp;{{summary.volume_change_since_last_year}} ML</div>
  </li>
  <li class="item item-icon-left">
    <i class="icon" ng-class="isFigureIncreased(summary.volume_change_since_last_month) ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i>
    <div class="detail-list-label">Since 30 days ago</div>
    <div class="detail-list-figure">{{summary.percentage_change_since_last_month}}%&nbsp;&nbsp;&nbsp;{{summary.volume_change_since_last_month}} ML</div>
  </li>
  <li class="item item-icon-left">
    <i class="icon" ng-class="isFigureIncreased(summary.volume_change_since_last_week) ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i>
    <div class="detail-list-label">Since 7 days ago</div>
    <div class="detail-list-figure">{{summary.percentage_change_since_last_week}}%&nbsp;&nbsp;&nbsp;{{summary.volume_change_since_last_week}} ML</div>
  </li>
  <li class="item item-icon-left">
    <i class="icon" ng-class="isFigureIncreased(summary.volume_change_since_yesterday) ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i>
    <div class="detail-list-label">Since 1 day ago</div>
    <div class="detail-list-figure">{{summary.percentage_change_since_yesterday}}%&nbsp;&nbsp;&nbsp;{{summary.volume_change_since_yesterday}} ML</div>
  </li>
</ul>
