/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$font-family-base: "OpenSansRegular", sans-serif !default;

$royal: #2c3e50 !default;
//$assertive: #386e9b !default;
$positive: #2062a1 !default;
$dark: #455b6c !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.bar .button.button-icon.ion-android-search:before {
  font-size: 1.411em;
  opacity: 0.5;
  margin-right: 20px;
}

.water-top {
  background-color: $positive;
  color: $light;

  .row-separator {
    padding: 5px 0;
  }

  .icon {
    font-size: 1.575em;
  }

  .ion-arrow-up-c {
    color: #7cdf1a;
  }

  .ion-arrow-down-c {
    color: #ff6f6f;
  }

  .date, .figure-per-label, .year-trend-label {
    font-size: 0.857em;
    color: #A3C0DD;
  }

  .location {
    font-size: 1.071em;
    font-family: "OpenSansBold", sans-serif;
    padding-top: 3px;
  }

  .year-trend-label, .year-trend {
    text-align: center;
  }

  .figure-per {
    font-size: 4.285em;
    line-height: 60px;
  }

  .year-trend {
    .icon {
      line-height: 60px;
    }
  }
}

.water-trend {
  text-align: center;
  background-color: $dark;

  .since {
    font-size: 12px;
    color: #A3C0DD;
  }

  .days-ago {
    font-size: 12px;
    color: $light;
  }

  .day-trend {
    font-size: 18px;
    margin: 10px 0 0 0;
  }

  .details {
    font-size: 12px;
    background-color: #74b3c9;
    color: #000;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
  }

  .ion-arrow-up-c {
    color: #7cdf1a;
  }

  .ion-arrow-down-c {
    color: #ff6f6f;
  }
}

.item.logo-bg {
  background-color: #2c3e50;
}

.item.logo-bg img {
  width: 60%;
}

.summary-current {
  background-color: #bdc3c7;
}

.summary-past {
  background-color: #ecf0f1;
}

.item-complex .item-content, .item {
  border-color: #ffffff;
}

.item.item-divider {
  font-size: 15px;
  font-family: "OpenSansBold", sans-serif;
  color: #2C3E50;
  border-color: #ffffff;
  background-color: #effaff;

  .icon {
    color: #ccc;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #333333;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nopadding {
  padding: 0;
}

.item-icon-right .icon-accessory {
  right: 12px;
}

div.list.list-inset.search label{
  background-color: #faf9f3;
  border: 2px #bfc1ce solid;
}

.highlight-figure {
  font-family: "OpenSansBold", sans-serif;
}

.spinner svg {
  width: 20px;
  height: 20px;
  stroke: #444;
  fill: #444;
  vertical-align: middle;
}

h4.menu-title {
  font-family: "OpenSansBold", sans-serif;
}

.menu-branding {
  .list {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(184,184,184,1);
    box-shadow: 0px 5px 5px 0px rgba(184,184,184,1);
    margin-bottom: 8px;
    .item {
      background-color: #e4e4e4;
      border: none;
    }
  }
}

.popup-container .popup {
  width: 90%;
  background-color: #fff;

  .popup-body {

    padding: 0;
    color: #455b6c;

    .popup-close {
      font-size: 2em;
      color: #000;
      opacity: 0.5;
      position: absolute;
      top: 15px;
      right: 15px;
    }

    hr {
      padding: 0;
      margin: 0;
      color: #b5c1ce;
    }

    .detail-header-top {
      padding: 20px;

      .detail-title {
        font-family: "OpenSansBold", sans-serif;
        font-size: 1.07em;
      }

      .detail-percentage {
        font-size: 2em;
        padding-top: 35px;
        padding-bottom: 0;

        span {
          color: #b5c1ce;
        }
      }
    }

    .detail-header-bottom {
      padding: 20px;
      font-size: 0.928em;
      color: #455b6c;
    }

    .list {



      .item {
        color: #455b6c;
        padding-top: 7px;
        padding-bottom: 7px;
        border-bottom: 2px solid #fff;
        background-color: #effaff;

        .ion-arrow-down-c {
          color: #ff6f6f;
        }

        .ion-arrow-up-c {
          color: #0cad55;
        }

        .icon {
          font-size: 1.375em;
        }

        .detail-list-label {
          font-size: 0.8125em;
          font-family: "OpenSansBold", sans-serif;
        }

        .detail-list-figure {
          font-size: 0.8125em;
        }

      }

    }
  }

  .popup-head {
    padding: 0;
  }
}

.location-list {
  .item-icon-left {
    .ion-arrow-up-c,
    .ion-arrow-down-c {
      font-size: 1.3em;
      top: -3px;
    }

    .ion-arrow-up-c {
      color: #0cad55;
    }

    .ion-arrow-down-c {
      color: #ff6f6f;
    }
  }

  .item-content {
    h4 {
      font-size: 13px;
      font-family: "OpenSansBold", sans-serif;
      color: #2c3e50;
      span {
        margin-left: 10px;
        color: #2062a1;
      }
    }

    h6 {
      color: #748491;
      .tc {
        position: absolute;
        left: 55px;
      }
      .lv {
        position: absolute;
        left: 165px;
      }
      .yr {
        position: absolute;
        left: 15px;
      }
    }
  }
}
