/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$font-family-base: "OpenSansRegular", sans-serif !default;

$royal: #2c3e50 !default;
//$assertive: #386e9b !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.ion-arrow-down-c {
  color: $assertive;
}

.ion-arrow-up-c {
  color: $balanced;
}

.item {
  .icon {
    font-size: 18px;
  }
}

.water-top {
  background-color: $positive;
  color: $light;

  .row-separator {
    padding: 10px 0;
  }

  .icon {
    font-size: 24px;
  }

  .date, .figure-per-label, .year-trend-label {
    font-size: 12px;
    color: #A3C0DD;
  }

  .location {
    font-size: 15px;
    font-family: "OpenSansBold", sans-serif;
    padding-top: 3px;
  }

  .year-trend-label, .year-trend {
    text-align: center;
  }

  .figure-per {
    font-size: 60px;
    line-height: 60px;
  }

  .year-trend {
    .icon {
      line-height: 60px;
    }
  }
}

.water-trend {
  text-align: center;
  background-color: $dark;

  .since {
    font-size: 12px;
    color: #A3C0DD;
  }

  .days-ago {
    font-size: 12px;
    color: $light;
  }

  .day-trend {
    font-size: 18px;
    margin: 10px 0 0 0;
  }

  .details {
    font-size: 15px;
    color: $dark;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
  }
}

.item.logo-bg {
  background-color: #2c3e50;
}

.item.logo-bg img {
  width: 60%;
}

.summary-current {
  background-color: #bdc3c7;
}

.summary-past {
  background-color: #ecf0f1;
}

.item-complex .item-content, .item {
  background-color: #ecf0f1;
  border-color: #ffffff;
}

.item.item-divider {
  font-size: 15px;
  font-family: "OpenSansBold", sans-serif;
  color: #2C3E50;
  border-color: #ffffff;

  .icon {
    color: $dark
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #333333;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nopadding {
  padding: 0;
}

.item-icon-right .icon-accessory {
  right: 12px;
}

div.list.list-inset.search label{
  background-color: #faf9f3;
  border: 2px #bfc1ce solid;
}

.highlight-figure {
  font-family: "OpenSansBold", sans-serif;
}

.spinner svg {
  width: 20px;
  height: 20px;
  stroke: #444;
  fill: #444;
  vertical-align: middle;
}

h4.menu-title {
  font-family: "OpenSansBold", sans-serif;
}

.menu-branding {
  .list {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(184,184,184,1);
    box-shadow: 0px 5px 5px 0px rgba(184,184,184,1);
    margin-bottom: 8px;
    .item {
      background-color: #e4e4e4;
      border: none;
    }
  }
}

i.icon.ion-ios-information {
  font-size: 24px;
  color:blue;
}
